@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Signika", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes updown {
  from {
    -webkit-transform: translateY(.5rem);
            transform: translateY(.5rem);
  }
  to {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

#updown{
  animation: updown 2s infinite alternate-reverse ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
